<h1>Hello World from index</h1>

<h1>Helper links provided by Rails</h1>
<%= link_to('To demo page', {:action => 'hello'}) %> <br>


<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20}) %>


